/* navbar */

.logo {
    border: none;
    width: 500px;
    margin-top: 0 !important;
    display: flex;
    align-items: center;
}

.psb {
    display: none;
}

.psb-f {
    display: inline-block;
}

.navbar-photo-profile img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 5px #0000002d;
    object-fit: cover;
}

@media only screen and (max-width: 765px) {
    .psb {
        display: inline-block;
    }

    .psb-f {
        display: none;
    }
}

.logo p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
}
.banner {
    height: 100vh;
    margin: 20px 0 0 0;
    padding: 0;
}
.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
}
.background {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-color: aqua;
    margin: 0;
    height: 100%;
}
.background .title {
    align-items: center;
    display: flex;
}

.title-ponpes p {
    color: white;
    line-height: 1;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #0000006c;
    margin: 10px 0 20px 0;
}
.title-ponpes span {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 5px #0000006c;
}

.sub-title-ponpes p {
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 5px #0000006c;
}
.logo-pondok {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-pondok img {
    width: 600px;
}
.main-button a {
    font-size: 20px;
}
/* footer */

.to-registration .banner-img {
    border-radius: 10px;
}
.button-daftar .main-button a {
    background: #146c94;
    color: white;
}
.button-daftar .main-button a:hover {
    background: white;
    color: #146c94;
    border: solid 1px #146c94;
}
